
.add{

  top: 20%;
  left: 40%;
  width: 310px;
  background-color: #EBE9EA;
   float: center;
   position: fixed;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: 10px;
   overflow: hidden;
   text-align: center;
   z-index: 4;
  border-radius: 10px;
  border-color: #EBE9EA;

}



h1.form {
  font-size: 6px;
}

form h1 {
  box-sizing: border-box;
  padding: 10px;
}

input[type="time"]{
  margin: 6px;
  width: 95px;
  border: 1px;
  border-color: black;
   color:grey;
}

input[type="text"],input[type="email"],input[type="password"]{
  margin: 15px 25px;
  width: 200px;
  border: 1px;
  border-color: black;
   color:grey;
}

input[type="text"]:focus::-webkit-input-placeholder, input[type="text"]:valid::-webkit-input-placeholder,input[type="email"]:focus::-webkit-input-placeholder, input[type="email"]:valid::-webkit-input-placeholder,input[type="password"]:focus::-webkit-input-placeholder, input[type="password"]:valid::-webkit-input-placeholder,
input[type="text"]:focus::-moz-input-placeholder, input[type="text"]:valid::-moz-input-placeholder,input[type="email"]:focus::-moz-input-placeholder, input[type="email"]:valid::-moz-input-placeholder,input[type="password"]:focus::-moz-input-placeholder, input[type="password"]:valid::-moz-input-placeholder{
  color:grey;
  font-size: 9px;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
 -moz-transform: translateY(-20px);
 -ms-transform: translateY(-20px);
 -o-transform: translateY(-20px);
  visibility: visible !important;
}

.select{
  margin: 5px 25px 10px;
  width: 100px;
  font-size: 12px;
  color:grey;
}

input[type="submit"], .cancel{
  margin: auto 10px;
}



.submit{
    /* placing */
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* end of placing */
    height: 25px;
    width: 25px;
    background-color: #FFF;
    border: 2px solid 	#092756;
    	border:-moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
    	border: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    	border: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    	border -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
    	border -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
    	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    border-radius: 50%;
    color: #092756;
    font-size: 15px;
    text-align: center;
    font-family: Montserrat;
    transition: 0.4s;
    outline-style: none;
    cursor: pointer;
}

.submit:hover{
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    color: #FFF;
    transition: 0.6s;
}
